##
# Environment Variables for micloud scripts.
##

# Slack custom webhook url. NOTE: Never save this in git!
MICLOUD_SLACK_URL="https://hooks.slack.com/services/XXXXX"

# Date command to evalute as 'too old' (timestamp) for the lastpass backup.
MICLOUD_LASTPASS_TOO_OLD_CMD="date -d 'now - 1 month' +%s"

# The (system) username to run the dropbox client as.
MICLOUD_DROPBOX_USER=chris

# MICLOUD_PATH is automatically appended during install.sh.
