[Unit]
Description=Send an alert OnFailure for %i
Requires=network-online.target
After=network-online.target

[Service]
Type=oneshot
EnvironmentFile=/etc/micloud-server.env
ExecStart=/bin/bash ${MICLOUD_PATH}/scripts/alert.sh "Warning systemd service '%i' Failed!"

[Install]
WantedBy=basic.target
