[Unit]
Description=Check /backups is mounted
OnFailure=alert-on-failure@%i.service

[Service]
ExecStart=/bin/bash -c "mount | grep "on /backups type" -q"
