[Unit]
Description=Backup to MiCloud

[Service]
ExecStart=/usr/bin/rsync \
  --compress \
  --delete-after \
  --devices \
  --hard-links \
  --links \
  --numeric-ids \
  --recursive \
  --sparse \
  --specials \
  --stats \
  --times \
  --update \
  --exclude=.cache \
  /home/chris /www \
  micloud:/backups/ChristOS

# NOTE: This should not have an [Install] section as it should be triggered by
# the timer.
